body {
  padding-top: 54px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #f5f5f5;
}

.ace-editor {
  height: 175px;
}

.answer {
  padding-top: 30px;
  color: #dc3545;
  font-style: italic;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
